@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #eae2b7;
    color: #003049;
    height: 100vh;
    box-sizing: border-box;
    width: 100%;
}

.destaque {
    color: #d62828;
}

.perfil {
    width: 500px;
    border: 5px solid #d62828;
    border-radius: 10px;
    padding: 20px;
}

.apresentacao {
    margin: 10% 15%;
    display: flex;
    align-items: center;
    justify-content: space-AROUND;
}

.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
}

.apresentacao__conteudo__paragrafo {
    font-size: 24px;
    font-family: 'Oswald', sans-serif;
}

.apresentacao__links__principais, .apresentacao__links__alternativos {
    font-family: 'Montserrat', sans-serif;
    display: flex;
}

.apresentacao__links__principais {
    justify-content: space-between;
}

.apresentacao__links__alternativos {
    justify-content: center;
}

a {
    background-color: #003049;
    color: #d62828;
    width: 280px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    padding: 21.5px 0px;
}

a:hover {
    font-size: 28px;
}

.linkedin:hover {
    background-color: #0a66c2;
    color: #fff;
}

.github:hover {
    background-color: #000;
    color: #fff;
}

.instagram:hover {
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
    color: #fff;
}