@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #eae2b7;
    color: #003049;
    height: 100vh;
    box-sizing: border-box;
    width: 100%;
}

.destaque {
    color: #d62828;
}

.perfil {
    width: 500px;
}

.apresentacao {
    margin: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 615px;
}

.apresentacao__conteudo__titulo {
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
}

.apresentacao__conteudo__paragrafo {
    font-size: 24px;
    font-family: 'Oswald', sans-serif;
}

.apresentacao__links__principais {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
}

.apresentacao__links__alternativos {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
}

a {
    background-color: #003049;
    color: #d62828;
    width: 280px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    padding: 21.5px 0px;
}